<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ChooseTicket.css') }}">
    <link rel="shortcut icon" href="/static/img/Layout/flying.png">

{#    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>#}
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">

            <div class="logo-container">
                <h3 class="logo">Flying<span>Sky</span></h3>
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="#">Home</a>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">Menu <i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Link 1</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Link 2</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Link 3<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 1</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 2</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 3</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">More<i class="fas fa-caret-down"></i></a>
                                                    <div class="dropdown second">
                                                        <ul>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 1</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 2</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 3</a>
                                                            </li>
                                                            <div class="arrow"></div>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Link 4</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="#">Services <i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Link 1</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Link 2</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Link 3<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 1</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 2</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 3</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">More<i class="fas fa-caret-down"></i></a>
                                                    <div class="dropdown second">
                                                        <ul>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 1</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 2</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 3</a>
                                                            </li>
                                                            <div class="arrow"></div>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Link 4</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="/ContactUs">Contract us</a>
                        </li>
                    </ul>
                </div>
                <div class="log-sign" style="--i: 1.35s">
                    <a href="/SignIn" class="btn transparent">Log in</a>
                    <a href="/SignIn" class="btn solid">Sign up</a>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container-section">
            <div class="overlay">
                <div class="container-items">
                    <div class="form">
                        <h2>

                        </h2>
                        <div class="main-form">
                            <form class="search" action="{{ url_for('search_ticket') }}" method="post">
                                <table class="table-container">
                                    <caption>Diem ban ve may bay</caption>
                                    <thead>
                                        <th>Diem di</th>
                                        <th>Diem den</th>
                                        <th>Ngay di</th>
                                        <th>Ngay ve</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" name="starting_place" required="">
                                                <!-- <label>Diem di</label> -->
                                            </td>
                                            <td>
                                                <input type="text" name="destination_place" required="">
                                                <!-- <label>Diem den</label> -->
                                            </td>
                                            <td>
                                                <select class="date-option" name="date_starting">
                                                    <option value="1-">1</option>
                                                    <option value="2-">2</option>
                                                    <option value="3-">3</option>
                                                    <option value="4-">4</option>
                                                    <option value="5-">5</option>
                                                    <option value="6-">6</option>
                                                    <option value="7-">7</option>
                                                    <option value="8-">8</option>
                                                    <option value="9-">9</option>
                                                    <option value="10-">10</option>
                                                    <option value="11-">11</option>
                                                    <option value="12-">12</option>
                                                    <option value="13-">13</option>
                                                    <option value="14-">14</option>
                                                    <option value="15-">15</option>
                                                    <option value="16-">16</option>
                                                    <option value="17-">17</option>
                                                    <option value="18-">18</option>
                                                    <option value="19-">19</option>
                                                    <option value="20-">20</option>
                                                    <option value="21-">21</option>
                                                    <option value="22-">22</option>
                                                    <option value="23-">23</option>
                                                    <option value="24-">24</option>
                                                    <option value="25-">25</option>
                                                    <option value="26-">26</option>
                                                    <option value="27-">27</option>
                                                    <option value="28-">28</option>
                                                    <option value="29-">29</option>
                                                    <option value="30-">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <select class="month-year-option" name="month_starting">
                                                   <option value="2020-12">2020-12</option>
                                                    <option value="2021-1">2021-1"</option>
                                                    <option value="2021-2">2021-2"</option>
                                                    <option value="2021-3">2021-3"</option>
                                                    <option value="2021-4">2021-4"</option>
                                                    <option value="2021-5">2021-5"</option>
                                                    <option value="2021-6">2021-6"</option>
                                                    <option value="2021-7">2021-7"</option>
                                                    <option value="2021-8">2021-8"</option>
                                                    <option value="2021-9">2021-9"</option>
                                                    <option value="2021-10">2021-10</option>
                                                    <option value="2021-11">2021-11</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="date-option" name="date_return">
                                                    <option value="1-">1</option>
                                                    <option value="2-">2</option>
                                                    <option value="3-">3</option>
                                                    <option value="4-">4</option>
                                                    <option value="5-">5</option>
                                                    <option value="6-">6</option>
                                                    <option value="7-">7</option>
                                                    <option value="8-">8</option>
                                                    <option value="9-">9</option>
                                                    <option value="10-">10</option>
                                                    <option value="11-">11</option>
                                                    <option value="12-">12</option>
                                                    <option value="13-">13</option>
                                                    <option value="14-">14</option>
                                                    <option value="15-">15</option>
                                                    <option value="16-">16</option>
                                                    <option value="17-">17</option>
                                                    <option value="18-">18</option>
                                                    <option value="19-">19</option>
                                                    <option value="20-">20</option>
                                                    <option value="21-">21</option>
                                                    <option value="22-">22</option>
                                                    <option value="23-">23</option>
                                                    <option value="24-">24</option>
                                                    <option value="25-">25</option>
                                                    <option value="26-">26</option>
                                                    <option value="27-">27</option>
                                                    <option value="28-">28</option>
                                                    <option value="29-">29</option>
                                                    <option value="30-">30</option>
                                                    <option value="31-">31</option>
                                                </select>
                                                <select class="month-year-option" name="month_return">
                                                    <option value="2020-12">2020-12</option>
                                                    <option value="2021-1">2021-1"</option>
                                                    <option value="2021-2">2021-2"</option>
                                                    <option value="2021-3">2021-3"</option>
                                                    <option value="2021-4">2021-4"</option>
                                                    <option value="2021-5">2021-5"</option>
                                                    <option value="2021-6">2021-6"</option>
                                                    <option value="2021-7">2021-7"</option>
                                                    <option value="2021-8">2021-8"</option>
                                                    <option value="2021-9">2021-9"</option>
                                                    <option value="2021-10">2021-10</option>
                                                    <option value="2021-11">2021-11</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="submit" value="search" class="btn-search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ticket-content">
                    <table class="table-tickets">
                        <caption class="tickets">Danh sach ve hien co</caption>
                        <thead>
                            <th>Noi den</th>
                            <th>Noi di</th>
                            <th>Ngay di</th>
                            <th>Ngay ve</th>
                            <th>Gia ve</th>
                        </thead>
                        <tbody>
                            {% for i in list_ticket %}
                                <tr>
                                    <form action="{{ url_for('confirm_ticket', user_id=current_user.id, ticket_id=i.id) }}" method="post">
                                        <td>
                                            <label>{{ i.starting_place }}</label>
                                        </td>
                                        <td>
                                            <label>{{ i.destination_place }}</label>
                                        </td>
                                        <td>
                                            <label>{{ i.date_starting }}</label>
                                        </td>
                                        <td>
                                            <label>{{ i.date_return }}</label>
                                        </td>
                                        <td>
                                            <label>{{ i.price }}d</label>
                                        </td>
                                        <td>
                                            <input type="submit" value="Buy">
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
